<!DOCTYPE html>
<html>
<head>
    <!-- Include Bootstrap CSS (either hosted or local) -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
 <h1 class="mt-1 text-center">Which tennis player are you?</h1>
<div class="container  d-flex flex-column align-items-center justify-content-center" >

    <form method="post" action="/test">
        {{#each questions}}
            <p class="mt-2">{{this.question}}</p>
        <div class="container">

            {{#each this.answers}}
                <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="radio"  name="{{../question}}" value="{{this}}">
                    <label class="form-check-label" for="">{{this}}</label>
                </div>
            {{/each}}
        </div>
            {{/each}}


        <input type="submit" class="btn mt-2 btn-primary" value="Send">
        <!-- You can add more radio buttons or other form elements here -->
    </form>

</div>

<!-- Include Bootstrap JavaScript (optional, required for certain components) -->
<!-- Place it at the end of the body to improve page loading performance -->
</body>
</html>
